# Private ROSA HCP with bastion (SSM + sshuttle by default)
# Auth: TF_VAR_client_id + TF_VAR_client_secret (recommended) or TF_VAR_token (optional)
# make plan TFVARS=examples/private.tfvars.example

cluster_name = "mobb-prv-rosa"
region       = "us-east-1"

tags = {
  app-code      = "MOBB-001"
  service-phase = "lab"
  cost-center   = "468"
  owner         = "nedoshi_mobb"
}

private  = true
multi_az = false
replicas = 2

compute_machine_type = "m5.xlarge"
create_account_roles = true

bastion_public_ssh_key = "~/.ssh/id_rsa.pub"
bastion_public_ip      = false

# admin_password     = "ChangeMe-Admin1!"
# developer_password = "ChangeMe-Dev1!"
