{"auths":{"arosvc.azurecr.io":{"auth":"<base64-encoded-acr-credentials>"},"quay.io":{"auth":"<base64-encoded-quay-credentials>","email":"<your-email>"},"registry.connect.redhat.com":{"auth":"<base64-encoded-redhat-connect-credentials>","email":"<your-email>"},"registry.redhat.io":{"auth":"<base64-encoded-redhat-io-credentials>","email":"<your-email>"}}}
