AZURE_SUBSCRIPTION_ID=<your-azure-subscription-id>
AZURE_TENANT_ID=<your-azure-tenant-id>
AZURE_CLIENT_ID=<your-azure-client-id>
AZURE_CLIENT_SECRET=<your-azure-client-secret>
AZURE_RESOURCE_GROUP=<your-azure-resource-group>
AZURE_CLOUD_NAME=AzurePublicCloud
